{% extends "base.html" %}

{% block head_title %} Homepage {% endblock head_title %}

{% block content %}

    <div class="container text-center">
        <h1><span style="color:#bdb184"><strong>Homepage</strong></span></h1>
        <hr>
        <br>
        <h3>Lista delle azioni disponibili:</h3>
        <hr>
        <br>
        <h4><a href="{% url 'list_survey_name'%}">Inserisci un questionario</a></h4>
        <br>
        <h4><a href="{% url 'export_survey_home'%}">Esporta i questionari compilati in Excel</a></h4>
    </div>


{% endblock content %}
