{% extends 'base.html' %}

{% block head_title %}Homepage Esportazione questionari{% endblock head_title %}

{% block content %}
    <div class="container pb-5">
        <h1><strong>Home Esportazione Questionari</strong></h1>
        <br>
        <h3>Tipi di esportazione:</h3>
        <br>
        <h4><a href="{% url 'export_surveys_single_patient' %}">Singoli Pazienti</a></h4>
        <hr>
        <h4><a href="{% url 'export_surveys_single_caregiver' %}">Singoli Caregivers</a></h4>
        <hr>
        <h4><a href="{% url 'export_patients_surveys' %}">Pazienti</a></h4>
        <hr>
        <h4><a href="{% url 'export_caregivers_surveys' %}">Caregivers</a></h4>
    </div>
{% endblock content %}
