{% extends 'base.html' %}

{% block head_title %}Homepage Esportazione questionari{% endblock head_title %}

{% block content %}
    <div class="container">
        <h1><strong>Home Esportazione Questionari</strong></h1>
        <hr>
        <br>
        <h3>Lista delle azioni disponibili:</h3>
        <hr>
        <br>
        <h4><a href="{% url 'export_single_survey'%}">Esporta singoli questionari</a></h4>
        <br>
        <h4><a href="#">Esporta tutti i questionari di un singolo paziente</a></h4>
    </div>
{% endblock content %}
