{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block head_title %}{{survey_name}}{% endblock head_title %}

{% block content %}
<div class="container">
    <div class="container pb-3">
        <h1>{{survey_name}}</h1>
        <p>{{survey_description}}</p>
    </div>
        <div class="container">
            <form class="pb-5" action="" method="post">
                {% csrf_token %}
                <!-- form is composed by patient and date field -->
                <div class="container pb-3" novalidate>{{form|crispy}}</div>
                <!-- survey contains all the questions with the relative answers with this format:
                    {(question.__str__(), question.type), [answers_for_this_question]}-->
                {% for question, answers in survey.items %}
                    <div class="container pb-5">
                        <legend><h5>{{question.0}}</h5></legend>
                        {% if question.1 == "Single Choice" %}
                            {% for answer_id, answer_sequence_number, answer_content in answers %}
                                <div class="form-check">
                                    <input class="form-check-input"
                                     type="radio"
                                     name="{{question.0}}"
                                     id="{{question.0}}{{answer_sequence_number}}"
                                     value="{{answer_id}}"
                                     required>
                                    <label class="form-check-label" for={{question.0}}{{answer_sequence_number}}>{{answer_sequence_number}} - {{answer_content}}</label>
                                </div>
                                <!-- <hr> -->
                            {% endfor %}
                        {% elif question.1 == "Multiple Choice" %}
                            {% for answer_id, answer_sequence_number, answer_content in answers %}
                                <div class="form-check ">
                                    <input class="form-check-input"
                                     type="checkbox"
                                     name="{{question.0}}"
                                     id="{{question.0}}{{answer_sequence_number}}"
                                     value="{{answer_id}}"
                                     required>
                                    <label class="form-check-label" for={{question.0}}{{answer_sequence_number}}>{{answer_sequence_number}} - {{answer_content}}</label>
                                </div>
                            {% endfor %}
                        {% elif question.1 == "Alphanumerical Input" %}
                            <div class="form-group">
                              <textarea class="form-control" name="{{question.0}}" id="{{question.0}}" rows="5"></textarea>
                            </div>
                        {% elif question.1 == "Range Input [0-10]" %}
                        <div class="form-group">
                            <input type="range" class="custom-range" min="0" max="10" step="1" name="{{question.0}}" id="{{question.0}}">
                        </div>
                        {% endif %}
                    </div>

                {% endfor %}
                <div class="container">
                    <input type="submit" class="btn btn-primary" value="Salva">
                </div>
            </form>
    </div>
</div>
{% endblock content %}
